@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap");
/*********
variables
*********/
/*********
mixins
*********/
/*********
basic style
*********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #161616;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 20px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6d5535;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

hr {
  color: #f59a23;
  width: 100px;
  margin: 30px auto;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
  padding: 30px 0;
}

/***header***/
.mainHeader {
  background-image: url(img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex-positive: wrap;
          flex-grow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainHeader h1 {
  color: #ffffff;
  font-size: 4rem;
  margin-left: 50px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 10px 40px;
  margin-bottom: 20px;
}

.mainHeader nav {
  background: #f59a23;
  color: #ffffff;
  margin-left: 50px;
}

.mainHeader nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex-positive: wrap;
          flex-grow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainHeader nav ul li {
  margin: 10px 40px;
  font-size: 1.5rem;
  text-align: center;
}

/***welcome***/
.welcome {
  background-color: #e7e4e4;
}

.welcome .container {
  text-align: center;
  padding: 50px 0;
}

.welcome .container h2 {
  font-size: 3rem;
}

/***whatcanIdo***/
.whatcanIdo .container, .myworks .container {
  text-align: center;
  padding: 50px 0;
}

.whatcanIdo .container h3, .myworks .container h3 {
  font-size: 2rem;
}

.whatcanIdo .container article, .myworks .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex-positive: wrap;
          flex-grow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.whatcanIdo .container article div, .myworks .container article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.whatcanIdo .container article div h4, .myworks .container article div h4 {
  font-size: 1.5rem;
}

.whatcanIdo .container article div button, .myworks .container article div button {
  padding: 15px 40px;
  background: #f59a23;
  color: #ffffff;
  font-size: 1rem;
  margin: 10px 10px;
  border: none;
  text-transform: uppercase;
}

.whatcanIdo .container article div button:hover, .myworks .container article div button:hover {
  opacity: .5;
  color: #161616;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/***myworks***/
.myworks {
  background-color: #e7e4e4;
}

.myworks .container article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

/***footer***/
footer {
  background-color: #686464;
  text-align: center;
  padding: 50px 0;
  color: #ffffff;
}

footer p {
  font-weight: 700;
}

footer i:nth-child(2) {
  color: red;
}

footer .icons i {
  margin-left: 20px;
  color: #f59a23;
  font-size: 1.3rem;
}
/*# sourceMappingURL=style.css.map */